* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    margin: 10px 10px;
}

header {
    background-image: linear-gradient(to right bottom, rgba(186, 197, 32, 0.233),
            rgba(99, 117, 35, 0.205)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    height: 99vh;
    position: relative;
    border: 1px rgba(98, 148, 150, 0.459) solid;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.text-box {
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}



.heading-primary {
    color: rgb(129, 153, 144);
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(36, 53, 48);
    backface-visibility: hidden;
    transition-duration: 1.5s;
    margin-bottom: 30px;
}


.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    /* animation: moveInLeft 5s ease infinite; */
    animation: moveInLeft 4.5s ease;

}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 4.5s alternate;

}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateY(-175px);
    }

    80% {
        transform: translateY(3px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateY(175px);
    }

    /* 80% {
        transform: translateY(-5px);
    } */

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes moveButton {
    0% {
        opacity: 0;
        transform: translateY(165px);
    }

    /* 80% {
        transform: translateY(-5px);
    } */

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,
.btn:visited {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 22px;
    display: inline-block;
    border-radius: 20px;
    transition: all 1s;
    border: 3px rgba(27, 104, 91, 0.178) ridge;
    position: relative;
    text-shadow: 1px 1px 1px rgb(138, 132, 132);

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 2px 2px 9px 3px rgba(32, 31, 31, 0.692);
    transition-duration: 1s;

}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 9px 3px grey;
    transform: scaleX(1.5) scaleY(1.5);
}

.btn-white {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.157);
    color: rgba(70, 53, 53, 0.829);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 2s;
    opacity: 0.5;
}

.btn-white::after {
    background-color: rgba(15, 121, 98, 0.082);
}

.btn:hover::after {
    transform: scaleX(2) scaleY(2);
    border: 3px rgba(24, 212, 181, 0.13) ridge;
}

.btn-animated {
    animation: moveButton 3s ease-in-out alternate;
}