.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        transition: all .2s;
        z-index: 1;
        outline-offset: 1.5rem;



        &--p1 {
            left: 0;
            top: 2;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            z-index: 10;
            transform: scale(1.05)translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .7);
            outline: .5rem solid $color-primary-ligh;
        }


        &:hover &__photo:not(:hover) {
            transform: scale(.9);
            position: absolute;
        }


    }
}