body {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-grey-dark;
    text-transform: uppercase;
    backface-visibility: hidden;
    transition-duration: 1.5s;
    margin-bottom: 3rem;

    &-main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3rem;
        text-shadow: 1rem .3rem rgba(40, 63, 56, 0.616);
        animation: moveInLeft 2s ease;
    }

    &-sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1rem;
        text-shadow: 1rem rgba(40, 63, 56, 0.616);
        animation: moveInRight 2s alternate;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-ligh, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 1s;

    &:hover {
        transform: skewY(3deg) skewX(15deg) scale(1.1);
        text-shadow: 2rem 2rem 2rem rgba($color-black, .5);
    }


}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}