$color-primary:#55c57a;

$color-primary-ligh:#7ed56f;

$color-grey-light-1:#f7f7f7; //light grey

$color-primary-dark: #28b485;

$color-grey-dark:#777; //dark grey

$color-white:#fff;

$color-black:#000; // black


//  GRID
$grid-width: 114rem;

$gutter-vertical: 8rem;

$gutter-horizontal: 6rem;

//FONT

$default-font-size: 1.6rem;